@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%,
  100% {
    background-color: rgba(34, 197, 94, 1);
  }

  50% {
    background-color: rgba(34, 197, 94, 0.8);
  }
}

.bg-win {
  animation: pulse 2s ease-in-out infinite;
}

@layer components {
  .Board.game-status-start button:nth-last-of-type(13) {
    @apply border-[2px] border-dashed border-slate-500 bg-slate-700 md:border-[5px];
  }
}
